main {
}

.container {
  .full-bar {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    @include breakpoint-up(small) {
      grid-template-columns: repeat(2, 1fr);
    }
    .art {
      height: 19.5rem;
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      @include breakpoint-up(small) {
        background-size: cover;
      }
    }
    .text {
      padding: 1.5rem;
      text-align: center;
      margin: 1rem 0 2rem;
      @include breakpoint-up(small) {
        margin: 0;
        padding: 0.5rem 1rem;
        text-align: start;
      }
      h2 {
        font-size: 2rem;
        padding: 1rem 0.5rem;
        color: $veryDarkDesat;
      }
      p {
        margin-bottom: 2rem;
        color: $darkGrayBlue;
        line-height: 1.75rem;
      }
      .learn {
        display: flex;
        flex-direction: column;
        position: relative;
        a {
          text-decoration: none;
          z-index: 1;
          h5 {
            font-size: 1rem;
            text-transform: uppercase;
            color: $veryDarkDesat;
          }
        }
        span {
          position: absolute;
          width: 8rem;
          border-radius: 5rem;
          height: 8px;
          z-index: 0;
          align-self: center;
          bottom: 0;
          right: 0;
          left: 0;
          opacity: 25%;
          margin: auto;
          @include breakpoint-up(small) {
            margin: 0 -5px;
          }
        }
      }
    }
    &#egg {
      .art {
        background-image: url("/images/mobile/image-transform.jpg");
        @include breakpoint-up(small) {
          grid-column: 2;
        }
      }
      .text {
        @include breakpoint-up(small) {
          grid-column: 1;
          grid-row: 1;
        }
      }
      .learn {
        span {
          background-color: $yellow;
        }
      }
    }
    &#cup {
      .art {
        background-image: url("/images/mobile/image-stand-out.jpg");
      }
      .learn {
        span {
          background-color: $softRed;
        }
      }
    }
  }
  .card-box {
    .card {
      height: 37.5rem;
      padding: 3rem 1rem;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: flex-end;
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;

      h2 {
        font-size: 1.75rem;
        margin-bottom: 1.5rem;
      }
      p {
        font-size: 16px;
        line-height: 1.5rem;
      }
      &#graphics {
        background-image: url("/images/mobile/image-graphic-design.jpg");
        h2 {
          color: $graphicTextCyan;
        }
        p {
          color: $graphicTextCyan;
        }
      }
      &#photos {
        background-image: url("/images/mobile/image-photography.jpg");
        h2 {
          color: $photoTextBlue;
        }
        P {
          color: $photoTextBlue;
        }
      }
    }
  }
  .testimonials {
    padding: 3.5rem 1rem;
    display: flex;
    flex-direction: column;
    h4 {
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 3px;
      color: $grayBlue;
    }
    .voice {
      display: flex;
      flex-direction: column;
      align-items: center;
      .profile {
        width: 3.5rem;
        height: 3.5rem;
        background-size: contain;
        border-radius: 5rem;
        margin: 3rem 0 2rem;
        &#emily {
          background-image: url("/images/image-emily.jpg");
        }
        &#thomas {
          background-image: url("/images/image-thomas.jpg");
        }
        &#jennie {
          background-image: url("/images/image-jennie.jpg");
        }
      }
      p {
        text-align: center;
        color: $veryDarkGrayBlue;
        line-height: 1.75rem;
      }
      .person {
        margin: 1.5rem 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        .name {
          font-family: "Fraunces", serif;
          color: $veryDarkDesat;
        }
        .position {
          margin-top: 0.5rem;
          color: $grayBlue;
          font-size: 0.75rem;
        }
      }
    }
  }
  .bottom-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    span {
      height: 11.75rem;
      width: 100%;
      background-size: 100%;
      background-repeat: no-repeat;
    }
    .milk {
      background-image: url("/images/mobile/image-gallery-milkbottles.jpg");
    }
    .orange {
      background-image: url("/images/mobile/image-gallery-orange.jpg");
    }
    .cone {
      background-image: url("/images/mobile/image-gallery-cone.jpg");
    }
    .sugar {
      background-image: url("/images/mobile/image-gallery-sugar-cubes.jpg");
    }
  }
}
