// Primary Colors
$softRed: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$graphicTextCyan: hsl(167, 40%, 24%);
$photoTextBlue: hsl(198, 62%, 26%);
$footerCyan: hsl(168, 34%, 41%);
// Secondary Colors
$veryDarkDesat: hsl(212, 27%, 19%);
$veryDarkGrayBlue: hsl(213, 9%, 39%);
$darkGrayBlue: hsl(232, 10%, 55%);
$grayBlue: hsl(210, 4%, 67%);
$base: hsl(0, 0%, 100%);

// Fonts
// font-family: 'Barlow', sans-serif;
// font-family: 'Fraunces', serif;
